@{
    const string AppTitle = "Time Tracking tools";
}

@functions
{
    string PageTitle(string appTitle)
    {
        var title = ViewBag.Title ?? string.Empty;
        if (!string.IsNullOrWhiteSpace(title))
        {
            title += " - ";
        }
        title += appTitle;
        
        return title;
    }
}

<!DOCTYPE html>
<html lang="en" ng-app="timeTrack">
<head>
    @Html.Partial("Head")
    <title>@Html.Raw(PageTitle(AppTitle))</title>
</head>
<body>
    @Html.Partial("LegacyIE")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <a href="/#/" class="navbar-brand">@AppTitle</a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/#/">Home</a></li>
                                    <li><a href="/#/about">About</a></li>
                                    <li><a href="/#/contact">Contact</a></li>
                                    <li><a href="/#/login">Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container">
                        <p>Copyright © Time Tracking Tool, 2014</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Html.Partial("Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
